@text-input-height: 35px;

@text-input-extra-small-width: 3em;
@text-input-extra-small-padding-vertical: 1px;
@text-input-extra-small-padding-horizontal: 3px;
@text-input-extra-small-font-size: 9px;
@text-input-extra-small-line-height: 1.5;
@text-input-extra-small-border-radius: 3px;

@text-input-small-width: 5em;
@text-input-small-padding-vertical: 1px;
@text-input-small-padding-horizontal: 5px;
@text-input-small-font-size: 12px;
@text-input-small-line-height: 1.5;
@text-input-small-border-radius: 3px;

@text-input-medium-width: 12em;
@text-input-medium-padding-vertical: 5px;
@text-input-medium-padding-horizontal: 2px;
@text-input-medium-font-size: 18px;
@text-input-medium-line-height: 1.3333333;
@text-input-medium-border-radius: 6px;

@text-input-large-width: 28em;
@text-input-large-padding-vertical: 10px;
@text-input-large-padding-horizontal: 16px;
@text-input-large-font-size: 18px;
@text-input-large-line-height: 1.3333333;
@text-input-large-border-radius: 6px;

@text-input-extra-large-width: 40em;
@text-input-extra-large-padding-vertical: 12px;
@text-input-extra-large-padding-horizontal: 18px;
@text-input-extra-large-font-size: 22px;
@text-input-extra-large-line-height: 1.3333333;
@text-input-extra-large-border-radius: 8px;
