@list-layout-background-color: #fff;
@list-layout-border-color: #ddd;
@list-layout-border-radius: 4px;
@list-layout-disabled-color: #555;
@list-layout-disabled-background-color: grey;
@list-layout-active-color: @style-active-color;
@list-layout-active-background-color: #337ab7;
@list-layout-active-border-color: #337ab7;
@list-layout-item-hover-color: #555;
@list-layout-item-hover-background-color: #f5f5f5;
