@import "./variables";

.__PANEL__ {

  margin-bottom: @panel-margin-bottom;
  background-color: @panel-background-color;
  border: 1px solid transparent;
  border-radius: @panel-border-radius;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);

  &.__DEFAULT__ { 

    .panel-variant(@panel-default-border; 
                   @panel-default-color; 
                   @panel-default-heading-background-color;
                   @panel-default-border);

  }

  &.__PRIMARY__ { 

    .panel-variant(@panel-primary-border;
                   @panel-primary-color;
                   @panel-primary-heading-background-color;
                   @panel-primary-border);

  }

  &.__SUCCESS__ { 

      .panel-variant(@panel-success-border;
                     @panel-success-color;
                     @panel-success-heading-background-color;
                     @panel-success-border);


  }

  &.__INFO__ { 

    .panel-variant(@panel-info-border;
                   @panel-info-color;
                   @panel-info-heading-background-color;
                   @panel-info-border);
   
  }

  &.__WARNING__ { 

    .panel-variant(@panel-warning-border;
                   @panel-warning-color;
                   @panel-warning-heading-background-color; 
                   @panel-warning-border);

  }

  &.__ERROR__ { 

    .panel-variant(@panel-danger-border;
                   @panel-danger-color;
                   @panel-danger-heading-background-color;
                   @panel-danger-border);

  }

  & > .__PANEL_HEADER__ {

    padding: @panel-header-padding-vertical @panel-header-padding-horizontal;
    border-bottom: 1px solid transparent;
    border-top-right-radius: @panel-border-radius -1;
    border-top-left-radius: @panel-border-radius - 1;

  }

  & > .__PANEL_BODY__ { 

    padding: @panel-body-padding;

  }

  & > .__PANEL_BODY__:before, &:after { 
          
      content: " "; // 1
      display: table; // 2
                    
  }

  & > .__PANEL_BODY__:after {
   
      clear: both;

  }

  & > .__PANEL_FOOTER__ { 

    padding: @panel-footer-padding-vertical @panel-footer-padding-horizontal;
    background-color: @panel-footer-background;
    border-top: 1px solid @panel-inner-border;
    border-bottom-right-radius: @panel-border-radius - 1;
    border-bottom-left-radius: @panel-border-radius - 1;

  }

}

.panel-variant(
                @border;
                @heading-color;
                @heading-background-color;
                @heading-border) {

  border-color: @border;

  & > .__PANEL_HEADER__ {

    color: @heading-color;
    background-color: @heading-background-color;
    border-color: @heading-border;

  }

}
