@menu-button-border-color: transparent;
@menu-button-border-radius: 4px;
@menu-button-border-style: solid;
@menu-button-border-size: 1px;
@menu-button-padding-vertical:9px; 
@menu-button-padding-horizontal:10px;
@menu-button-dash-background-color: #fff;
@menu-button-dash-width: 30px;
@menu-button-dash-height: 5px; 
@menu-button-dash-margin-top: 3px;
