@typeahead-margin-bottom: 0.5em;
@typeahead-sibling-margin-top: 0.5em;

@typeahead-error-color: #d9534f;
@typeahead-error-border-color: @typeahead-error-color;
@typeahead-warning-color: #f0ad4e;
@typeahead-warning-border-color: @typeahead-warning-color;
@typeahead-success-color: #5cb85c;
@typeahead-success-border-color: @typeahead-success-color;
