@nav-padding-left: 0;
@nav-padding-right: 0;
@nav-item-margin-top: .5em;
@nav-item-margin-bottom: .5em;
@nav-item-font-size: 14px;
@nav-item-vertical-padding: .7em;
@nav-item-horizontal-padding: 1em;
@nav-item-background-color: inherit;
@nav-item-hover-background-color: #31708f;
@nav-item-active-background-color: #31708f;
@nav-item-nav-margin-left:0;
@nav-item-text-color:grey;
@nav-item-link-font-weight: bolder;
@nav-item-link-letter-spacing: .15em;

