@nav-padding-vertical: 0;
@nav-padding-horizontal: 0;
@nav-margin-vertical: 0;
@nav-margin-horizontal: 0;
@nav-item-margin-vertical: .5em;
@nav-item-font-size: 14px;
@nav-item-padding-vertical: .3em;
@nav-item-padding-horizontal: 1em;
@nav-item-background-color: inherit;
@nav-item-hover-background-color: #31708f;
@nav-item-active-background-color: #31708f;
@nav-item-nav-margin-left:0;
@nav-item-text-color:grey;
@nav-item-link-font-weight: bolder;
@nav-item-link-letter-spacing: .15em;

