/* @todo: expand border functions and classes */

.border(@width; @style; @color)         { border: @width @style @color;        }
.border-top(@width; @style, @color)     { border-top: @width @style @color;    }
.border-radius(@value)                  { border-radius: @value;               }
.border-width(@value)                   { border-width: @value; @style @color; }
.border-style(@value)                   { border-style:@value;                 }

.border-top(@width; @style, @color)     { border-top: @width @style @color;    }
.border-top-radius(@value)              { border-top-radius: @value;               }
.border-top-width(@value)               { border-top-width: @value; @style @color; }
.border-top-style(@value)               { border-top-style:@value;                 }

.border-right(@width; @style, @color)   { border-right: @width @style @color;         }
.border-right-radius(@value)            { border-right-radius: @value;                }
.border-right-width(@value)             { border-right-width: @value; @style @color;  }
.border-right-style(@value)             { border-right-style:@value;                  }

.border-bottom(@width; @style, @color)  { border-bottom: @width @style @color;        }
.border-bottom-radius(@value)           { border-bottom-radius: @value;               }
.border-bottom-width(@value)            { border-bottom-width: @value; @style @color; }
.border-bottom-style(@value)            { border-bottom-style:@value;                 }

.border-left(@width; @style, @color)     { border-left: @width @style @color;        }
.border-left-radius(@value)              { border-left-radius: @value;               }
.border-left-width(@value)               { border-left-width: @value; @style @color; }
.border-left-style(@value)               { border-left-style:@value;                 }

/* all defaults */
.-border                                { .border-width(1px);  
                                          .-solid-border-style;                }

/* all widths */
.-no-border                             {  border: none;                       }
.-1x-border-width                       { .border-width(.125rem);              }
.-2x-border-width                       { .border-width(.25rem);               }
.-3x-border-width                       { .border-width(.5rem);                }
.-4x-border-width                       { .border-width(1rem);                 }
.-5x-border-width                       { .border-width(2rem);                 }

/* all styles */ 
.-dotted-border-style                   { .border-style(dotted);               }
.-solid-border-style                    { .border-style(solid);                }
.-dashed-border-style                   { .border-style(dashed);               }

/* top defaults */
.-top-border                            { .border-top-width(1px); 
                                          .-solid-border-top-style;            }
/* top widths */
.-no-top-border                         {  border-top: none;                   }
.-1x-border-top-width                   { .border-top-width(.125rem);          }
.-2x-border-top-width                   { .border-top-width(.25rem);           }
.-3x-border-top-width                   { .border-top-width(.5rem);            }
.-4x-border-top-width                   { .border-top-width(1rem);             }
.-5x-border-top-width                   { .border-top-width(2rem);             }

/* top styles */ 
.-dotted-border-top-style               { .border-top-style(dotted);           }
.-solid-border-top-style                { .border-top-style(solid);            }
.-dashed-border-top-style               { .border-top-style(dashed);           }

/* right defaults */
.-right-border                            { .border-right-width(1px); 
                                            .-solid-border-right-style;        }
/* right widths */
.-no-right-border                         {  border-right: none;               }
.-1x-border-right-width                   { .border-right-width(.125rem);      }
.-2x-border-right-width                   { .border-right-width(.25rem);       }
.-3x-border-right-width                   { .border-right-width(.5rem);        }
.-4x-border-right-width                   { .border-right-width(1rem);         }
.-5x-border-right-width                   { .border-right-width(2rem);         }

/* right styles */ 
.-dotted-border-right-style               { .border-right-style(dotted);        }
.-solid-border-right-style                { .border-right-style(solid);         }
.-dashed-border-right-style               { .border-right-style(dashed);        }

/* bottom defaults */
.-bottom-border                            { .border-bottom-width(1px); 
                                          .-solid-border-bottom-style;         }
/* bottom widths */
.-no-bottom-border                         {  border-bottom: none;             }
.-1x-border-bottom-width                   { .border-bottom-width(.125rem);    }
.-2x-border-bottom-width                   { .border-bottom-width(.25rem);     }
.-3x-border-bottom-width                   { .border-bottom-width(.5rem);      }
.-4x-border-bottom-width                   { .border-bottom-width(1rem);       }
.-5x-border-bottom-width                   { .border-bottom-width(2rem);       }

/* bottom styles */ 
.-dotted-border-bottom-style               { .border-bottom-style(dotted);     }
.-solid-border-bottom-style                { .border-bottom-style(solid);      }
.-dashed-border-bottom-style               { .border-bottom-style(dashed);     }

/* left defaults */
.-left-border                            { .border-left-width(1px); 
                                          .-solid-border-left-style;           }
/* left widths */
.-no-left-border                         {  border-left: none;                 }
.-1x-border-left-width                   { .border-left-width(.125rem);        }
.-2x-border-left-width                   { .border-left-width(.25rem);         }
.-3x-border-left-width                   { .border-left-width(.5rem);          }
.-4x-border-left-width                   { .border-left-width(1rem);           }
.-5x-border-left-width                   { .border-left-width(2rem);           }

/* left styles */ 
.-dotted-border-left-style               { .border-left-style(dotted);         }
.-solid-border-left-style                { .border-left-style(solid);          }
.-dashed-border-left-style               { .border-left-style(dashed);         }


















