
.box-shadow (@x; @y; @blur; @spread; @color) {

  box-shadow: @x @y @blur @spread @color; 

}

.-x1-box-shadow { 

  box-shadow: @box-shadow-offset-x-x1
            @box-shadow-offset-y-x1
            @box-shadow-blur-radius-x1
            @box-shadow-spread-radius-x1
            @box-shadow-color-x1;

}

.-x2-box-shadow { 

  box-shadow: @box-shadow-offset-x-x2
            @box-shadow-offset-y-x2
            @box-shadow-blur-radius-x2
            @box-shadow-spread-radius-x2
            @box-shadow-color-x2;

}

.-x3-box-shadow { 

  box-shadow: @box-shadow-offset-x-x3
            @box-shadow-offset-y-x3
            @box-shadow-blur-radius-x3
            @box-shadow-spread-radius-x3
            @box-shadow-color-x3;
}

.-x4-box-shadow { 

  box-shadow: @box-shadow-offset-x-x4
            @box-shadow-offset-y-x4
            @box-shadow-blur-radius-x4
            @box-shadow-spread-radius-x4
            @box-shadow-color-x4;
}

.-x5-box-shadow { 

  box-shadow: @box-shadow-offset-x-x5
            @box-shadow-offset-y-x5
            @box-shadow-blur-radius-x5
            @box-shadow-spread-radius-x5
            @box-shadow-color-x5;
}
