
.margin(@n)                           { margin:@n;                 }
.margin-left(@n)                      { margin-left: @n;           }
.margin-right(@n)                     { margin-right: @n;          }
.margin-top(@n)                       { margin-top: @n;            }
.margin-bottom(@n)                    { margin-bottom: @n;         }

.-auto-margin                         { .margin(auto);        }
.-no-margin                           { .margin(0);           }

.-xs-margin                           { .margin(@spacing-xs); }
.-s-margin                            { .margin(@spacing-s);  }
.-m-margin                            { .margin(@spacing-m);  }
.-l-margin                            { .margin(@spacing-l);  }
.-xl-margin                           { .margin(@spacing-xl); }
.-xxl-margin                          { .margin(@spacing-xxl);}
.-xxxl-margin                         { .margin(@spacing-xxxl);}

.-auto-top-margin                     { .margin(auto);            }
.-no-top-margin                       { .margin(0);               }

.-xs-margin-top                       { .margin-top(@spacing-xs); }
.-s-margin-top                        { .margin-top(@spacing-s);  }
.-m-margin-top                        { .margin-top(@spacing-m);  }
.-l-margin-top                        { .margin-top(@spacing-l);  }
.-xl-margin-top                       { .margin-top(@spacing-xl); }
.-xxl-margin-top                      { .margin-top(@spacing-xxl);}
.-xxxl-margin-top                     { .margin-top(@spacing-xxxl);}

.-auto-margin-right                   { .margin-right(auto);        }
.-no-right-margin                     { .margin-right(0);           }

.-xs-margin-right                     { .margin-right(@spacing-xs); }
.-s-margin-right                      { .margin-right(@spacing-s);  }
.-m-margin-right                      { .margin-right(@spacing-m);  }
.-l-margin-right                      { .margin-right(@spacing-l);  }
.-xl-margin-right                     { .margin-right(@spacing-xl); }
.-xxl-margin-right                    { .margin-right(@spacing-xxl);}
.-xxxl-margin-right                   { .margin-right(@spacing-xxxl);}

.-auto-margin-bottom                  { .margin-bottom(auto);        }
.-no-bottom-margin                    { .margin-bottom(0);          }

.-xs-margin-bottom                    { .margin-bottom(@spacing-xs); }
.-s-margin-bottom                     { .margin-bottom(@spacing-s);  }
.-m-margin-bottom                     { .margin-bottom(@spacing-m);  }
.-l-margin-bottom                     { .margin-bottom(@spacing-l);  }
.-xl-margin-bottom                    { .margin-bottom(@spacing-xl); }
.-xxl-margin-bottom                   { .margin-bottom(@spacing-xxl);}
.-xxxl-margin-bottom                  { .margin-bottom(@spacing-xxxl);}

.-auto-margin-left                    { .margin-left(auto);        }
.-no-left-margin                      { .margin-left(0);           }

.-xs-margin-left                      { .margin-left(@spacing-xs); }
.-s-margin-left                       { .margin-left(@spacing-s);  }
.-m-margin-left                       { .margin-left(@spacing-m);  }
.-l-margin-left                       { .margin-left(@spacing-l);  }
.-xl-margin-left                      { .margin-left(@spacing-xl); }
.-xxl-margin-left                     { .margin-left(@spacing-xxl);}
.-xxxl-margin-left                    { .margin-left(@spacing-xxxl);}
