
.margin-left(@n)    { margin-left: @n;          }
.margin-right(@n)   { margin-right: @n;         }
.margin-top(@n)     { margin-top: @n;           }
.margin-bottom(@n)  { margin-bottom: @n;        }

.-no-margin        { margin:0;                 }
.-no-top-margin    { margin-top:0;             }
.-no-left-margin   { margin-left:0;            }
.-no-right-margin  { margin-right:0;           }
.-no-bottom-margin { margin-bottom:0;          }
