
.overflow(@value)         { overflow: @value;      }
.overflow-x(@value)       { overflow-x: @value;    }
.overflow-y(@value)       { overflow-y: @value;    }

.-visible-overflow       { .overflow(visible);    }
.-hidden-overflown       { .overflow(hidden);     }    
.-scroll-overflow        { .overflow(scroll);     }
.-auto-overflow          { .overflow(auto);       }

.-visible-overflow-x     { .overflow-x(visible);  }
.-hidden-overflow-x      { .overflow-x(hidden);   }
.-scroll-overflow-x      { .overflow-x(scroll);   }
.-auto-overflow-x        { .overflow-x(auto);     }

.-visible-overflow-y     { .overflow-y(visible);  }
.-hidden-overflow-y      { .overflow-y(hidden);   }
.-scroll-overflow-y      { .overflow-y(scroll);   }
.-auto-overflow-y        { .overflow-y(auto);     }

.-webkit-overflow-scrolling-touch { -webkit-overflow-scrolling: touch; }


