@import "../../less/control";
@import "./variables";

.__DISPLAY_FIELD__ {

  .control();
  
  display: inline-block;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &.__BLOCK__ {

    display: block;

  }

}
