@drawer-width: 15em;
@drawer-section-padding: 10px;
@drawer-content-color: @theme-chrome-color;
@drawer-background-color: @theme-chrome-background-color;
@drawer-border-right-width: @theme-chrome-border-width;
@drawer-border-right-style: @theme-chrome-border-style;
@drawer-border-right-color: @theme-chrome-border-color;
@drawer-box-shadow-offset-x : @box-shadow-offset-x-x1;
@drawer-box-shadow-offset-y : @box-shadow-offset-y-x1;
@drawer-box-shadow-blur-radius : @box-shadow-blur-radius-x1;
@drawer-box-shadow-spread-radius: @box-shadow-spread-radius-x1;
@drawer-box-shadow-color: @box-shadow-color-x1;
@drawer-z-index: 9;
