@import "./variables";

.__DROP_LIST__ {

  margin-bottom: @drop-list-margin-bottom; 
  display: inline-block;
  position: relative;

  & > .__MENU__ {

    position: absolute;

  }

  &.__ERROR__ {

    color: @drop-list-error-color;

    & > .__DISPLAY_FIELD__ {

      border-color: @drop-list-error-border-color;
      color: @drop-list-error-color;

    }

  }

  &.__WARNING__ {

    color: @drop-list-warning-color;

    & > .__DISPLAY_FIELD__ {

      border-color: @drop-list-warning-border-color;
      color: @drop-list-warning-color;

    }

  }

  &.__SUCCESS__ {

    color: @drop-list-success-color;

    & > .__DISPLAY_FIELD__ {

      border-color: @drop-list-success-border-color;
      color: @drop-list-success-color;

    }

  }

  &.__BLOCK__ {

    display: block;
    width: 100%;

    & + & {

      margin-top: @drop-list-sibling-margin-top;

    }

    & > .__MENU__ {

      width: 100%;

    }

    & > .__DISPLAY_FIELD__ {

      width: 100%;

    }

  }
 
}
