
/*
  IconButton styling.
*/
.__ICON_BUTTON__ {

  padding: @icon-button-padding-vertical @icon-button-padding-horizontal;
  border: 1px solid @icon-button-border-color;
  border-radius: @icon-button-border-radius;
  vertical-align: middle;
  background: transparent;

}
