/**
  This file imports all the global variables needed to style
  the widgets. 

  Import this file first.
*/
@import "./bootstrap/variables.less";
@import "./css/variables";
@import "./global";
@import "./theme";
@import "../src/layout/variables";
@import "../src/app/variables";
@import "../src/control/variables";
@import "../src/content/nav/variables";

/* Grid */
@grid-container-padding-top: 2em;

/* MainView */
@main-view-padding-horizontal: @spacing-m;

/* Button */
@button-group-buttons-margin-right: @spacing-xs;

/* Modal */
@modal-z-index: 6;
