@menu-header-vertical-padding: .7em; 
@menu-header-horizontal-padding: 1em;
@menu-header-text-color: grey;
@menu-header-font-weight: bolder;
@menu-header-letter-spacing: .2em;

@menu-item-line-height: 1.428571429; 
@menu-divider-background: rgba(208, 215, 222, 0.48);

@menu-item-margin: 5px;
@menu-item-padding: 5px 8px;

@menu-width:10em;
@menu-z-index:2000;
@menu-padding:5px;
@menu-margin: 0px;
@menu-font-size:14px;
@menu-text-align:left;
@menu-background-color:#f1f1f1;
@menu-border-radius: 4px;
@menu-border-color: rgba(0,0,0,.15);
@menu-line-height: 1.428571429; 
@menu-link-color:#333;
@menu-link-hover-color: darken(#333, 5%);
@menu-link-hover-background: rgba(208, 215, 222, 0.32);
@menu-link-active-color: #fff;
@menu-link-active-background: #337ab7;
@menu-link-disabled-color: #777;
@menu-heading-vertical-padding: 3px;
@menu-heading-horizontal-padding: 20px;
@menu-heading-font-size: 12px;
@menu-heading-color: lighten(#777, 15%);
