@import "./variables";

.__NAV__ {

  list-style-type: none;
  padding: @nav-padding-vertical @nav-padding-horizontal;
  margin: @nav-margin-vertical @nav-margin-horizontal;

  & > .__ITEM__ {

    float: left;

  }

  &.__VERTICAL__ > .__ITEM__ {

    float: none;

  }

}

/*
  Nav styles for child Item widgets.
 */
.__NAV__ > .__ITEM__ {

  margin-top: @nav-item-margin-vertical;
  margin-bottom: @nav-item-margin-vertical;

  & > .__NAV__ {

    margin-left: @nav-item-nav-margin-left;

  }

  & > a {

    padding: @nav-item-padding-vertical @nav-item-padding-horizontal;
    display: block;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    font-weight: @nav-item-link-font-weight;
    letter-spacing: @nav-item-link-letter-spacing;

    &:hover {

      background-color: @nav-item-hover-background-color;

    }

    &.__ACTIVE__ {

      background-color: @nav-item-active-background-color;

    }

    &.__NO_HOVER__ {
    
      &:hover, &.__ACTIVE__ {

        background-color: @nav-item-background-color;

      }

    }

  }

}
