@main-layout-width: auto;
@main-layout-height: auto;
@main-layout-overflow-x: auto;
@main-layout-overflow-y:auto;
@main-layout-background-color:inherit;
@main-layout-vertical-padding: 60px;
@main-layout-horizontal-padding: 0px;
