
.__DROPDOWN__ {

  position: relative;

  & > .__DROPDOWN_FACADE__ {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  & > .__MENU__ {

    margin-top: .5em;

  }

}
