@import "../../../content/util/less/clearfix";
@import "../../../content/screen/less/screen";
@import "./variables";

.__MODAL__ {

  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @modal-z-index;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  & > .__MODAL_POSITION__ {

    position: relative;
    width: @modal-width;
    margin: @modal-margin-vertical auto;

    .screen-not-small({

        width: @modal-screen-not-small-width;
        margin: @modal-screen-not-small-margin-vertical auto;              

    });

  }

  &  .__MODAL_CONTENT__ {

    position: relative;
    background-color: @modal-content-background-color;
    border: 1px solid @modal-content-border-color; 
    border-radius: @modal-content-border-radius;
    box-shadow: @modal-content-box-shadow;
    background-clip: padding-box;
    outline: 0;

  }

  & .__MODAL_CONTENT__ > .__MODAL_HEADER__ {

    padding: @modal-header-padding;
    border-bottom: 1px solid @modal-header-border-color;
    &:extend(.clearfix all);
  
  }

  & .__MODAL_CONTENT__ > .__MODAL_BODY__ {

    position: relative;
    padding: @modal-body-padding;

  }

  & .__MODAL_CONTENT__ > .__MODAL_FOOTER__ {

    padding: @modal-footer-padding;
    text-align: right; 
    border-top: 1px solid @modal-footer-border-color;
    &:extend(.clearfix all); 

  }

}
