@import "./variables";

.__TEXT_FIELD__ {

  &.__ERROR__ {

    color: @text-field-error-color;

  }

  &.__WARNING__ {

    color: @text-field-warning-color;

  }

  &.__SUCCESS__ {

    color: @text-field-success-color;

  }

}
