@text-field-error-color: #d9534f;
@text-field-error-border-color: @text-field-error-color;
@text-field-warning-color: #f0ad4e;          
@text-field-warning-border-color: @text-field-warning-color;
@text-field-success-color: #5cb85c;
@text-field-success-border-color: @text-field-success-color;
