@file-preview-padding: 1rem;
@file-preview-background-color: #f8f9fa;
@file-preview-border-radius: 8px;
@file-preview-animation: fadeIn 0.3s ease;
@file-preview-border: #c0c0c0 solid 1px;

@file-preview-delete-button-color: #95a5a6;
@file-preview-delete-button-padding: 6px;
@file-preview-delete-button-hover-color: darken(
    @file-preview-delete-button-color,
    25%
);

@file-preview-filename-font-size: 1rem;
@file-preview-filename-font-weight: 500;
@file-preview-filename-margin: 0 0 4px;

@file-preview-filesize-font-size: 0.8rem;
@file-preview-filesize-color: #7f8c8d;
@file-preview-filesize-margin: 0;
