@import "./variables";

.__DROP_DOWN__ {

  position: relative;
  display: inline-block; 

  & + & {

    margin-left: @drop-down-sibling-margin-left;

  }

  & > .__BUTTON__ {

    position: relative;
    float: left;
 
  }

  // On active and open, don't show outline
  & .__DROP_DOWN_TOGGLE__:active {

    outline: 0;

  }

  // Give the line between buttons some depth
  & > .__BUTTON__ + .__DROP_DOWN_TOGGLE__ {

    padding-left: 8px;
    padding-right: 8px;

  }

  & > .__BUTTON__ + .__DROP_DOWN_TOGGLE__ {

    padding-left: 12px;
    padding-right: 12px;

  }

  // Prevent double borders when buttons are next to each other
  & > .__BUTTON__ + .__BUTTON__ {

    margin-left: -1px;

  }

  & > .__DROP_DOWN_CONTENT__ {

    min-width: 10em;
    display: block; 
    position: absolute;
    top: 100%;
    z-index: 2000;
    text-align: left; 
    background-color: @drop-down-background;
    border: 1px solid @drop-down-border-color;
    border-radius: @drop-down-border-radius;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;


  }

  & > .__DROP_DOWN_CONTENT__.__HIDDEN__ {

    display: none;

  }

}
