@stack-padding : 0;
@stack-border-color: @dropdown-border;
@stack-border-style:solid;
@stack-border-width:1px;
@stack-background-color: @dropdown-bg;
@stack-element-horizontal-padding: .5em;
@stack-element-vertical-padding: .5em;
@stack-element-hover-background-color:#31708f;
@stack-element-hover-color: #fff;
@stack-close-float:right;
