@import "./variables";

.__MENU_HEADER__ {

  padding: @menu-header-vertical-padding @menu-header-horizontal-padding;
  color: @menu-header-text-color;
  font-weight: @menu-header-font-weight;
  letter-spacing: @menu-header-letter-spacing;
  text-transform: @menu-header-text-transform;

}
