/* wat variables */
@wat-layout-container-background-color:#ebeef0; 
@wat-layout-drawer-background-color:#31373D; 
@wat-layout-drawer-width: 230px;
@wat-layout-main-background-color: @wat-layout-container-background-color;
@wat-breakpoint: 768px;
@wat-layout-action-bar-background-color: @panel-bg;
@wat-layout-navbar-height: 56px;
