@import "./variables";

.__MENU__ {

  min-width: @menu-width;
  display: block; 
  z-index: @menu-z-index;
  padding: @menu-vertical-padding @menu-horizontal-padding;
  list-style: none;
  font-size: @menu-font-size;
  text-align: @menu-text-align;
  background: @menu-background;

  & > li > a  {

    display: block;
    padding: @menu-link-vertical-padding @menu-link-hoziontal-padding;
    clear: both;
    font-weight: normal;
    line-height: @menu-line-height;
    color: @menu-link-color;
    white-space: nowrap; 
    text-decoration: none;

  }

  & > li > a:hover, & > li > a:focus {

    text-decoration: none;
    color: @menu-link-hover-color;
    background-color: @menu-link-hover-background;

  }

  & > li > h1,h2,h3,h4,h5,h6 {

    display: block;
    padding: @menu-heading-vertical-padding @menu-heading-horizontal-padding;
    margin:0;
    font-size: @menu-heading-font-size;
    line-height: @menu-line-height;
    color: @menu-heading-color;
    white-space: nowrap; 

  }

  &.__HIDDEN__ {

    display: none;

  }

  & > .__ACTIVE__ > a, & > .__ACTIVE__ > a:hover, & > .__ACTIVE__ > a:focus {

    color: @menu-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: @menu-link-active-background;

  }

  & > .__DISABLED__> a, & > .__DISABLED__ > a:hover, & > .__DISABLED__ > a:focus { 

    color: @menu-link-disabled-color;

  }

  & > .__DISABLED__ > a:hover, & > .__DISABLED__ > a:focus {

    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;

  }

  & > __RIGHT__ {

    left: auto; 

  }

}
