@menu-width:10em;
@menu-z-index:2000;
@menu-vertical-padding:5px;
@menu-horizontal-padding:0px;
@menu-font-size:14px;
@menu-text-align:left;
@menu-background-color:#f1f1f1;
@menu-border-radius: 4px;
@menu-border-color: rgba(0,0,0,.15);
@menu-line-height: 1.428571429; 
@menu-link-vertical-padding: 3px;
@menu-link-hoziontal-padding: 20px;
@menu-link-color:#333;
@menu-link-hover-color: darken(#333, 5%);
@menu-link-hover-background: #f5f5f5;
@menu-link-active-color: #fff;
@menu-link-active-background: #337ab7;
@menu-link-disabled-color: #777;
@menu-heading-vertical-padding: 3px;
@menu-heading-horizontal-padding: 20px;
@menu-heading-font-size: 12px;
@menu-heading-color: lighten(#777, 15%);
