@menu-icon-background-color: transparent;
@menu-icon-border: none;

@menu-icon-dash-width: 1.5em;
@menu-icon-dash-height: .25em;
@menu-icon-dash-background-color: #fff;
@menu-icon-dash-margin-top: .25em;
@menu-icon-dash-margin-bottom: .25em;
@menu-icon-dash-opacity: 0.9;
