@import "../../less/control";
@import "../../../content/screen/less/screen";
@import "./variables";

.__DATE_FIELD__ {

  margin-bottom: @date-field-margin-bottom;

  & > .__DATE_FIELD_CONTROLS__ {

    width: 100%;
    display: inline-flex;

  }

  & > .__DATE_FIELD_CONTROLS__ > .__DATE_FIELD_DAY__ {

    .control();
    width: 20%;

    .screen-not-small({

      width: 4.5em;

    });

    margin-right: .5em;
    display: inline-block;

  }

  & > .__DATE_FIELD_CONTROLS__ > .__DATE_FIELD_MONTH__ {

    .control();
    width: 20%;

    .screen-not-small({

      width: 4.5em;

    });

    margin-right: .5em;
    display: inline-block;

  }

  & > .__DATE_FIELD_CONTROLS__ > .__DATE_FIELD_YEAR__ {

    .control();
    width: 30%;

    .screen-not-small({

      width: 6em;

    });

    display: inline-block;

  }

  &.__ERROR__ > .__DATE_FIELD_CONTROLS__ {

    & > .__DATE_FIELD_DAY__, 
    & > .__DATE_FIELD_MONTH__,
    & > .__DATE_FIELD_YEAR__ {

      border-color: @date-field-error-color;
      color: @date-field-error-color;

    }

  }

  &.__WARNING__ > .__DATE_FIELD_CONTROLS__ {

    & > .__DATE_FIELD_DAY__, 
    & > .__DATE_FIELD_MONTH__,
    & > .__DATE_FIELD_YEAR__ {

      border-color: @date-field-warning-color;
      color: @date-field-warning-color;

    }

  }

  &.__SUCCESS__ > .__DATE_FIELD_CONTROLS__ {

    & > .__DATE_FIELD_DAY__, 
    & > .__DATE_FIELD_MONTH__,
    & > .__DATE_FIELD_YEAR__ {

      border-color: @date-field-success-color;
      color: @date-field-success-color;

    }

  }

}
