@import "../../less/control";
@import "../../text-field/less/text-field";
@import "./variables";

.__DATE_FIELD__ {

  margin-bottom: @date-field-margin-bottom;
  display: inline-block;

  & > .__DATE_FIELD_INPUT__ {

    .control();
    width: 100%;
    display: block;

  }

  &.__ERROR__ {

      .textFieldVariant(@date-field-error-color);

  }

  &.__WARNING__ {

      .textFieldVariant(@date-field-warning-color);

  }

  &.__SUCCESS__ {

      .textFieldVariant(@date-field-success-color);

  }

  &.__BLOCK__ {

    display: block;
    width: 100%;

  }

}
