@import "../../less/control";
@import "./variables";

.__DATE__ {


  & > .__DATE_MONTH__ {

   .control();
    width: 6em;
    margin-right: .5em;

  }

  & > .__DATE_DAY__ {

   .control();
    margin-right: .5em;

  }

  & > .__DATE_YEAR__ {

    .control();

  }

}
