@import "./variables";

.__DATE__ > .form-inline {

  & > .__DATE_MONTH__ {

    width: 6em;
    margin-right: .5em;

  }

  & > .__DATE_DAY__ {

    margin-right: .5em;

  }

  & > .__DATE_YEAR__ {


  }

}
