
/**
  user-select is used to avoid the selection of non-textual
  elements.

  @select - A supported user-select value. 
*/
.user-select(@select) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  user-select: @select;
}
