.height(@value)        { height: @value;     }
.min-height(@value)    { min-height: @value; }
.max-height(@value)    { max-height: @value; }

/* Height as a fraction/percentage of the the element's parent */
.-25-height           { .height( 25%);      }
.-33-height           { .height( 33%);      }
.-50-height           { .height( 50%);      }
.-66-height           { .height( 66%);      }
.-75-height           { .height( 75%);      }
.-100-height          { .height( 100%);     }

/* Height Scale */

.-1x-height             { .height(@height-scale-1); }
.-2x-height             { .height(@height-scale-2); }
.-3x-height             { .height(@height-scale-3); }
.-4x-height             { .height(@height-scale-4); }
.-5x-height             { .height(@height-scale-5); }

/* Minimum heights */
.-100-min-height              { .min-height(100%);        }

/* Constant based heights */
.-auto-height          { .height(auto);      }
.-inherit-height       { .height(inherit);   }
