//@todo, clean up and keep inline with rest of module

.unstyled-link() { color: inherit; text-decoration: inherit; }

.-unstyled-link, -unstyled-link:link, -unstyled-link:hover { .unstyled-link(); }

.-link {
  
  text-decoration: none;
  transition: color .15s ease-in;

  &:link, &:visited {
  transition: color .15s ease-in;
  }

  &:hover   {
  transition: color .15s ease-in;
  }

  &:active  {
  transition: color .15s ease-in;
  }

  &:focus   {
  transition: color .15s ease-in;
  }

}

