.padding(@n:0)                      { padding: @n @n @n @n; }
.padding-top(@n)                    { padding-top: @n;      }
.padding-right(@n)                  { padding-right: @n;    }
.padding-bottom(@n)                 { padding-bottom:@n;    }
.padding-left(@n)                   { padding-left: @n;     }
.padding-vh(@v, @h)                 { padding: @v @h;       }
.padding-vertical(@v)               { padding-top:@v; padding-bottom:@v;}
.padding-horizontal(@v)             { padding-left:@v; padding-right:@v;}

.-no-padding                        { .padding(0);          }

.-xs-padding                       { .padding(@spacing-xs); }
.-s-padding                        { .padding(@spacing-s);  }
.-m-padding                        { .padding(@spacing-m);  }
.-l-padding                        { .padding(@spacing-l);  }
.-xl-padding                       { .padding(@spacing-xl); }
.-xxl-padding                      { .padding(@spacing-xxl);}
.-xxxl-padding                     { .padding(@spacing-xxxl);}

.-no-top-padding                       { .padding-top(0);             }

.-xs-padding-top                       { .padding-top(@spacing-xs); }
.-s-padding-top                        { .padding-top(@spacing-s);  }
.-m-padding-top                        { .padding-top(@spacing-m);  }
.-l-padding-top                        { .padding-top(@spacing-l);  }
.-xl-padding-top                       { .padding-top(@spacing-xl); }
.-xxl-padding-top                      { .padding-top(@spacing-xxl);}
.-xxxl-padding-top                     { .padding-top(@spacing-xxxl);}

.-no-right-padding                     { .padding-right(0);           }

.-xs-padding-right                     { .padding-right(@spacing-xs); }
.-s-padding-right                      { .padding-right(@spacing-s);  }
.-m-padding-right                      { .padding-right(@spacing-m);  }
.-l-padding-right                      { .padding-right(@spacing-l);  }
.-xl-padding-right                     { .padding-right(@spacing-xl); }
.-xxl-padding-right                    { .padding-right(@spacing-xxl);}
.-xxxl-padding-right                   { .padding-right(@spacing-xxxl);}

.-no-bottom-padding                    { .padding-bottom(0);          }

.-xs-padding-bottom                    { .padding-bottom(@spacing-xs); }
.-s-padding-bottom                     { .padding-bottom(@spacing-s);  }
.-m-padding-bottom                     { .padding-bottom(@spacing-m);  }
.-l-padding-bottom                     { .padding-bottom(@spacing-l);  }
.-xl-padding-bottom                    { .padding-bottom(@spacing-xl); }
.-xxl-padding-bottom                   { .padding-bottom(@spacing-xxl);}
.-xxxl-padding-bottom                  { .padding-bottom(@spacing-xxxl);}

.-no-left-padding                      { .padding-left(0);            }

.-xs-padding-left                      { .padding-left(@spacing-xs); }
.-s-padding-left                       { .padding-left(@spacing-s);  }
.-m-padding-left                       { .padding-left(@spacing-m);  }
.-l-padding-left                       { .padding-left(@spacing-l);  }
.-xl-padding-left                      { .padding-left(@spacing-xl); }
.-xxl-padding-left                     { .padding-left(@spacing-xxl);}
.-xxxl-padding-left                    { .padding-left(@spacing-xxxl);}
