
.z-index(@n)     { z-index: @n * 100;    }

.-x0-z            { .z-index(0);          }
.-x1-z            { .z-index(1);          }
.-x2-z            { .z-index(2);          }
.-x3-z            { .z-index(3);          }
.-x4-z            { .z-index(4);          }
.-x5-z            { .z-index(5);          }

.-x999-z          { .z-index(9.99);       }
.-x9999-z         { .z-index(99.99);      }

.-max-z          { .z-index(21474836.47);}

.-inherit-z      { z-index: inherit;     }
.-initial-z      { z-index: initial;     }
.-unset-z        { z-index: unset;       }
