@import './variables';
@import '../../less/control';

.__MULTI_SELECT__ {
    display: inline-block;
    position: relative;
    width: @multi-select-width;

    &.__DISABLED__ {
        cursor: not-allowed;
    }

    & > .__MULTI_SELECT_CONTENT__ {
        .control();

        height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &::after {
            content: '';
            clear: both;
            display: table;
        }

        & > .__MULTI_SELECT_INPUT__,
        & > .__TAG_CONTROL__ {
            margin: 0 0.3em 0.3em 0;
        }

        & > .__MULTI_SELECT_INPUT__ {
            width: 50px;
            border: none;
            background: transparent;
            outline: none;
        }
    }

    &.__BLOCK__ {
        width: 100%;
        display: block;
    }

    &.__ACTIVE__ {
        & > .__MULTI_SELECT_CONTENT__ {
            border-color: @multi-select-active-border-color;
        }
    }

    &.__ERROR__ {
        & > .__MULTI_SELECT_CONTENT__ {
            color: @multi-select-error-color;
            border-color: @multi-select-error-border-color;
        }
    }

    &.__WARNING__ {
        & > .__MULTI_SELECT_CONTENT__ {
            color: @multi-select-warning-color;
            border-color: @multi-select-warning-border-color;
        }
    }

    &.__SUCCESS__ {
        & > .__MULTI_SELECT_CONTENT__ {
            color: @multi-select-success-color;
            border-color: @multi-select-success-border-color;
        }
    }

    & > .__LABEL__,
    & > .__HELP__ {
        display: inline-block;
    }
}
