@multi-select-width: 30em;
@multi-select-search-margin-bottom:.5em;
@multi-select-error-color: #d9534f;
@multi-select-error-border-color: @multi-select-error-color;
@multi-select-warning-color: #f0ad4e;          
@multi-select-warning-border-color: @multi-select-warning-color;
@multi-select-success-color: #5cb85c;
@multi-select-success-border-color: @multi-select-success-color;
@multi-select-active-border-color: #66afe9;
