@import '../../less/control';
@import './variables';

.__SEARCH__ {
    display: inline-block;
    position: relative;

    & > input {
        .control();

        &[readonly] {
            background-color: @search-read-only-background;
        }
    }

    & > .__MENU__ {
        position: absolute;
    }

    &.__BLOCK__ {
        display: block;

        & + & {
            margin-top: @search-sibling-margin-top;
        }

        & > input {
            width: 100%;
        }

        & > .__MENU__ {
            width: 100%;
        }
    }
}
