@import "../../less/control";
@import "./variables";

.__SEARCH__ {
  
  .control();

  &[readonly] {

    background-color: @search-read-only-background;

  }

  &.__BLOCK__ {

    display: block;
    width: 100%;

    & + & {

      margin-top: @search-sibling-margin-top;

    }

 }

}
