@import '../../less/variables';

@ww-pager-margin: 20px 0;
@ww-pager-line-height: @ww-line-height;
@ww-pager-background-color: #fff;
@ww-pager-border-color: #ddd;
@ww-pager-border-radius: 4px;
@ww-pager-hover-background-color: #eee;
@ww-pager-disabled-color: #fff;
@ww-pager-link-color: #337ab7;
@ww-pager-link-vertical-padding: 5px;
@ww-pager-link-horizontal-padding: 14px;
