//variables for the global document
@theme-color: #333333;
@theme-background-color: #212121;

//variables for the surronding components of the application.
@theme-chrome-color: #fff;
@theme-chrome-background-color:#1a1a1a;
@theme-chrome-border-size: 1px;
@theme-chrome-border-color: lighten(@theme-chrome-background-color, 10%);
@theme-chrome-border-width: 1px;
@theme-chrome-border-style: solid;




