
.{{MENU_BUTTON}} {

  padding: 9px 10px;
  border: 1px solid #d3dbe2;
  border-radius: 4px;

  & span {

    background:blue;
    .block;
    width: 22px;
    height: 2px;
    margin: 3px 0 0;
    opacity: .5;

  }

}
