@import '../../../content/style/less/style';

@panel-background-color: #fff;
@panel-border-radius: 4px;
@panel-inner-border: #ddd;
@panel-margin-bottom: 20px;

@panel-body-padding: 15px;

@panel-header-padding-vertical: 10px;
@panel-header-padding-horizontal: 15px;

@panel-footer-padding-vertical: 10px;
@panel-footer-padding-horizontal: 15px;

@panel-footer-background: #f5f5f5;

@panel-default-color: @gray-dark;
@panel-default-border: #ddd;
@panel-default-heading-background-color: #f5f5f5;

@panel-primary-color: #fff;
@panel-primary-border: @style-primary;
@panel-primary-heading-background-color: @style-primary;

@panel-success-color: @style-success-color;
@panel-success-border: @style-success-border;
@panel-success-heading-background-color: @style-success-background-color;

@panel-info-color: @style-info-color;
@panel-info-border: @style-info-border;
@panel-info-heading-background-color: @style-info-background-color;

@panel-warning-color: @style-warning-color;
@panel-warning-border: @style-warning-border;
@panel-warning-heading-background-color: @style-warning-background-color;

@panel-danger-color: @style-danger-color;
@panel-danger-border: @style-danger-border;
@panel-danger-heading-background-color: @style-danger-background-color;
