@action-bar-min-height:0px;
@action-bar-width: 100%;
@action-bar-color:#fff;
@action-bar-background: #1a1a1a;
@action-bar-padding-vertical: .5em;
@action-bar-padding-horizontal: .5em;
@action-bar-border-bottom-width: 1px;
@action-bar-border-bottom-style: solid;
@action-bar-border-bottom-color: lighten(#1a1a1a, 10%);
@action-bar-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
@action-bar-z-index: 9998;
@action-bar-content-flex-direction: row;
@action-bar-content-justify-content: flex-start;
@action-bar-line-height:1.428571429;
@action-bar-border-bottom: none;
