
/* DrawerLayout */
@drawer-width: 15em;
@drawer-bg-color: #31373D;

/* ActionArea */
@action-area-height: ceil(3.571428571em); 
@action-area-width: 100%;
@action-area-bg-color: #fff;
@action-area-padding-vertical: @padding-size / 2;
@action-area-padding-horizontal: @padding-size;
@action-area-z-index: 2;

/* MainView */
@main-view-padding-horizontal: @padding-size;

/* MenuButton */
@menu-button-border-color: silver;
@menu-button-dash-color: blue;
@menu-button-dash-width: 22px;
@menu-button-dash-height: 2px; 

/* Modal */
@modal-z-index: 6;

//@wat-layout-drawer-background-color:#31373D; 
//@wat-layout-drawer-width: 230px;
//@wat-layout-main-background-color: @wat-layout-container-background-color;
//@wat-layout-action-area-background-color: @panel-bg;
//@wat-layout-action-area-height: 56px;
//@wat-layout-notification-height: 86px;
