
/* constants */

//http://en.wikipedia.org/wiki/Golden_rectangle
@RECTANGLE_RATIO : 1.5; 

/* DrawerLayout */
@drawer-layout-color: #333333;
@drawer-layout-background-color: #ebeef0;

/* Drawer */
@drawer-width: 15em;
@drawer-section-padding: 10px;
@drawer-content-color: #fff;
@drawer-background-color: #31373D;
@drawer-z-index: 9;

/* ActionArea */
@action-area-height: ceil(3.571428571em); 
@action-area-width: 100%;
@action-area-background-color: #fff;
@action-area-padding-vertical: @padding-size / 2;
@action-area-padding-horizontal: @padding-size;
@action-area-z-index: 2;
@action-area-box-shadow-offset-x : @box-shadow-offset-x-x1;
@action-area-box-shadow-offset-y : @box-shadow-offset-y-x1;
@action-area-box-shadow-blur-radius : @box-shadow-blur-radius-x1;
@action-area-box-shadow-spread-radius: @box-shadow-spread-radius-x1;
@action-area-box-shadow-color: @box-shadow-color-x1;

/* Grid */
@grid-container-padding-top: 2em;

/* MainView */
@main-view-padding-horizontal: @padding-size;

/* MenuButton */
@menu-button-border-color: silver;
@menu-button-dash-color: blue;
@menu-button-dash-width: 22px;
@menu-button-dash-height: 2px; 

/* Button */
@button-group-buttons-margin-right: .5em;

/* Modal */
@modal-z-index: 6;

/* Switch */
@switch-height: 2em;
@switch-slider-background-color: @input-bg-disabled;
@switch-slider-off-background-color: #fff;
@switch-slider-on-background-color:#2196F3;
