
/* constants */

//http://en.wikipedia.org/wiki/Golden_rectangle
@RECTANGLE_RATIO : 1.5; 

/* bootstrap compat with the css variables */

/* DrawerLayout */
@drawer-layout-color: #333333;
@drawer-layout-background-color: #ebeef0;

/* Drawer */
@drawer-width: 15em;
@drawer-section-padding: 10px;
@drawer-content-color: #fff;
@drawer-background-color: #31373D;
@drawer-border-right-width: 1px;
@drawer-border-right-style: solid;
@drawer-border-right-color: lighten(@drawer-background-color, 10%);
@drawer-box-shadow-offset-x : @box-shadow-offset-x-x1;
@drawer-box-shadow-offset-y : @box-shadow-offset-y-x1;
@drawer-box-shadow-blur-radius : @box-shadow-blur-radius-x1;
@drawer-box-shadow-spread-radius: @box-shadow-spread-radius-x1;
@drawer-box-shadow-color: @box-shadow-color-x1;
@drawer-z-index: 9;

/* ActionArea */
@action-area-height: ceil(3.571428571em); 
@action-area-width: 100%;
@action-area-background-color: #fff;
@action-area-padding-vertical: @spacing-m;
@action-area-padding-horizontal: @spacing-m;
@action-area-border-bottom-width: 1px;
@action-area-border-bottom-style: solid;
@action-area-border-bottom-color: lighten(@action-area-background-color, 10%);
@action-area-box-shadow-offset-x : @box-shadow-offset-x-x1;
@action-area-box-shadow-offset-y : @box-shadow-offset-y-x1;
@action-area-box-shadow-blur-radius : @box-shadow-blur-radius-x1;
@action-area-box-shadow-spread-radius: @box-shadow-spread-radius-x1;
@action-area-box-shadow-color: @box-shadow-color-x1;
@action-area-z-index: 2;
@action-area-content-flex-direction: row;
@action-area-content-justify-content: flex-start;

/* Grid */
@grid-container-padding-top: 2em;

/* MainView */
@main-view-padding-horizontal: @spacing-m;

/* MenuButton */
@menu-button-border-color: silver;
@menu-button-border-radius: 4px;
@menu-button-border-style: solid;
@menu-button-border-size: 1px;
@menu-button-padding-vertical:9px; 
@menu-button-padding-horizontal:10px;
@menu-button-dash-background-color: blue;
@menu-button-dash-width: 22px;
@menu-button-dash-height: 2px; 
@menu-button-dash-margin-top: 3px;

/* Button */
@button-group-buttons-margin-right: 0;

/* Modal */
@modal-z-index: 6;

/* Switch */
@switch-height: 2em;
@switch-slider-background-color: @input-bg-disabled;
@switch-slider-off-background-color: #fff;
@switch-slider-on-background-color:#2196F3;
