/* colors */
@import "./colors.less";

/* global */
@page-background-color: #ebeef0; 

/* breakpoints */
@small-breakpoint: 30em;    //480px by default
@large-breakpoint:  60em;   //840 by default   
@easing-duration: .5s;

/* padding */
@padding-size: floor((@grid-gutter-width / 2));

/* borders */
@border-color: @black-30;

/* box-shadows */
@box-shadow-color: rgba( 0, 0, 0, 0.2 ); 
@box-shadow-offset-x-x1: 0px;
@box-shadow-offset-y-x1: 0px;
@box-shadow-blur-radius-x1: 4px;
@box-shadow-spread-radius-x1: 2px;
@box-shadow-color-x1: @box-shadow-color;

@box-shadow-offset-x-x2: 0px;
@box-shadow-offset-y-x2: 0px;
@box-shadow-blur-radius-x2: 8px;
@box-shadow-spread-radius-x2: 2px;
@box-shadow-color-x2: @box-shadow-color;

@box-shadow-offset-x-x3: 2px;
@box-shadow-offset-y-x3: 2px;
@box-shadow-blur-radius-x3: 4px;
@box-shadow-spread-radius-x3: 2px;
@box-shadow-color-x3: @box-shadow-color;

@box-shadow-offset-x-x4: 2px;
@box-shadow-offset-y-x4: 2px;
@box-shadow-blur-radius-x4: 8px;
@box-shadow-spread-radius-x4: 0px;
@box-shadow-color-x4: @box-shadow-color;

@box-shadow-offset-x-x5: 4px;
@box-shadow-offset-y-x5: 4px;
@box-shadow-blur-radius-x5: 8px;
@box-shadow-spread-radius-x5: 0px;
@box-shadow-color-x5: @box-shadow-color;

/* heights */
@height-scale-1: 1rem;
@height-scale-2: 2rem;
@height-scale-3: 4rem;
@height-scale-4: 8rem;
@height-scale-5: 16rem;

/* widths */
@width-scale-1: 1rem;
@width-scale-2: 2rem;
@width-scale-3: 4rem;
@width-scale-4: 8rem;
@width-scale-5: 16rem;

/* spacing */
@spacing-xs: .25rem;
@spacing-s: .5rem;
@spacing-m: 1rem;
@spacing-l: 2rem;
@spacing-xl: 4rem;
@spacing-xxl: 8rem;
@spacing-xxxl: 16rem;
