/* colors */
@import "./colors.less";

/* global */
@page-background-color: #ebeef0; 

/* breakpoints */
@small-breakpoint: 30em;    //480px by default
@large-breakpoint:  60em;   //840 by default   
@easing-duration: .5s;

/* padding */
@padding-size: floor((@grid-gutter-width / 2));

/* borders */
@border-color: @black-30;

/* shadows */
@shadow-1-blur-radius: 4px;
@shadow-1-spread-radius: 2px;
@shadow-1-color: rgba( 0, 0, 0, 0.2 ); 

/* heights */
@height-scale-1: 1rem;
@height-scale-2: 2rem;
@height-scale-3: 4rem;
@height-scale-4: 8rem;
@height-scale-5: 16rem;

/* widths */
@width-scale-1: 1rem;
@width-scale-2: 2rem;
@width-scale-3: 4rem;
@width-scale-4: 8rem;
@width-scale-5: 16rem;

/* spacing */
@spacing-xs: .25rem;
@spacing-s: .5rem;
@spacing-m: 1rem;
@spacing-l: 2rem;
@spacing-xl: 4rem;
@spacing-xxl: 8rem;
@spacing-xxxl: 16rem;
