@import '../../content/screen/less/screen';
@import './variables';

.__RANGED_PAGER__ {
    & > ul > li.__PAGER_PREVIOUS__ {
        & > .__LINK__ {
            float: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        & + li > .__LINK__ {
            border-left: none;
        }
    }

    & > ul > li.__RANGED_PAGER_PAGE__ {
        display: none;

        .screen-not-small({

        display: inline;

      });

        & > .__LINK__ {
            border-radius: 0;
        }
    }

    & > ul > li.__RANGED_PAGER_PAGE__.__ACTIVE__ {
        & > .__LINK__ {
            color: @ww-ranged-pager-active-color;
            background-color: @ww-ranged-pager-active-background-color;
            border-color: @ww-ranged-pager-active-background-color;
        }
    }

    & > ul > li.__PAGER_NEXT__ {
        & > .__LINK__ {
            float: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }
}
