
/** 
  Number of columns in the grid system.
*/
@grid-columns: 12;

/**
 * Sets the padding used for the top and bottom of a grid-layout.
 */
@grid-layout-padding-vertical:0;

/**
 * Sets the padding used for the left and right of a grid-layout
 */
@grid-layout-padding-horizontal: 1rem;

/**
 * Sets the vertical margins between the grid layout and content above and below.
 */
@grid-layout-margin-vertical: 0px;

/**
 * Sets the background color of grid-layouts.
 */
@grid-layout-background-color: inherit;

/**
 * Sets the padding used for the top and bottom of rows in a grid-layout.
 */
@grid-layout-row-padding-vertical: 0px;

/**
 * Sets the padding used for the left and right of rows in a grid-layout.
 */
@grid-layout-row-padding-horizontal: 0px;

/**
 * Sets the vertical margins between rows in a grid-layout.
 */
@grid-layout-row-margin-vertical: 0px;

/**
 * Sets the vertical margins between columns in a row.
 */
@grid-layout-column-margin-vertical: 0px;

/**
 * Sets the horizontal margins between columns in a row.
 */
@grid-layout-column-margin-horizontal: 0px;

/**
 * Set the space at the top of a row nested in a column.
 */
@grid-layout-column-row-margin-top: 0px;
