@import "./variables";

.__SELECT__ {

  margin-bottom: @select-margin-bottom; 
  display: inline-block;

  & > .__MENU__ {

    position: absolute;

  }
  
  &.__BLOCK__ {

    display: block;
    width: 100%;

    & + & {

      margin-top: @select-sibling-margin-top;

    }

 }

}
