@select-margin-bottom: .5em;
@select-sibling-margin-top: .5em;

@select-error-color: #d9534f;
@select-error-border-color: @select-error-color;
@select-warning-color: #f0ad4e;          
@select-warning-border-color: @select-warning-color;
@select-success-color: #5cb85c;
@select-success-border-color: @select-success-color;
