@import "../../../control/less/control";

@well-background: #f5f5f5;
@well-border: @control-border-color;
@well-border-radius: @control-border-radius;
@well-padding-small: 9px;
@well-padding-large: 24px;
@well-border-radius-small:1px;
@well-border-radius-large: 2px;
