@import './variables';

.__WELL__ {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: @well-background;
    border: 1px solid @well-border;
    border-radius: @well-border-radius;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    & blockquote {
        border-color: #ddd;
        border-color: rgba(0, 0, 0, 0.15);
    }

    .__WELL__.__SMALL__ {
        padding: @well-padding-small;
        border-radius: @well-border-radius-small;
    }

    .__WELL__.__LARGE__ {
        padding: @well-padding-large;
        border-radius: @well-border-radius-large;
    }
}
