@action-bar-min-height:0px;
@action-bar-width: 100%;
@action-bar-background-color: @theme-chrome-background-color;
@action-bar-padding-vertical: @spacing-m;
@action-bar-padding-horizontal: @spacing-m;
@action-bar-border-bottom-width: 1px;
@action-bar-border-bottom-style: solid;
@action-bar-border-bottom-color: lighten(@action-bar-background-color, 10%);
@action-bar-box-shadow-offset-x : @box-shadow-offset-x-x1;
@action-bar-box-shadow-offset-y : @box-shadow-offset-y-x1;
@action-bar-box-shadow-blur-radius : @box-shadow-blur-radius-x1;
@action-bar-box-shadow-spread-radius: @box-shadow-spread-radius-x1;
@action-bar-box-shadow-color: @box-shadow-color-x1;
@action-bar-z-index: 1;
@action-bar-content-flex-direction: row;
@action-bar-content-justify-content: flex-start;
