
.wat-layout-banner {

  width: auto;
  height: @wat-layout-navbar-height;
  padding-left: 20px;
  background-color: #31373d;
  border-bottom: 1px solid #212529;

  & h1 {

    margin: 0;

    & .wat-layout-banner-image {

      max-width: @wat-layout-drawer-width;
      max-height: @wat-layout-navbar-height;

    }

  }

}
