
.wat-layout-menu-button {

  padding: 9px 10px;
  background-color: inherit;
  border: 1px solid #d3dbe2;
  border-radius: 4px;
  position: fixed;
  top:10px;
  margin-left: 10px;
  display: none;
  .slidesition();

  @media (max-width: @wat-breakpoint) {

    display: block;

    & ~ .wat-layout-action-area-content {

    padding-left: 54px;

    }

  }

}

.wat-layout-menu-button.wat-visible {

  display: block;

  & ~ .wat-layout-action-area-content {

    padding-left: 44px;

  }

}

.wat-layout-menu-button span {

  background: @link-color;
  display: block;
  width: 22px;
  height: 2px;
  margin: 3px 0 0;
  opacity: .5;

}
