@tab-bar-tab-line-height: 1.428571429;
@tab-bar-tab-border-radius: 4px;
@tab-bar-border-color: #ddd;
@tab-bar-margin-bottom: 0;
@tab-bar-padding-left: 0;
@tab-bar-tab-link-hover-border-color: #eee;
@tab-bar-tab-active-link-hover-background: #fff;
@tab-bar-tab-active-link-hover-color: #555;
@tab-bar-tab-active-link-hover-border-color: #ddd;
@tab-bar-tab-position: relative;
@tab-bar-tab-display: block;
@tab-bar-tab-anchor-vertical-padding: 10px;
@tab-bar-tab-anchor-horizontal-padding: 15px;
