@nav-header-vertical-padding: .7em; 
@nav-header-horizontal-padding: 1em;
@nav-header-text-color: grey;
@nav-header-font-weight: bolder;
@nav-header-letter-spacing: .2em;
@nav-header-text-transform: uppercase;
