@import './variables';

.__MAIN_LAYOUT__ {
    width: @main-layout-width;
    height: @main-layout-height;
    overflow-x: @main-layout-overflow-x;
    overflow-y: @main-layout-overflow-y;
    background-color: @main-layout-background-color;
    padding: @main-layout-vertical-padding @main-layout-horizontal-padding;
}
