@stack-select-search-margin-bottom:.5em;
@stack-select-error-color: #d9534f;
@stack-select-error-border-color: @stack-select-error-color;
@stack-select-warning-color: #f0ad4e;          
@stack-select-warning-border-color: @stack-select-warning-color;
@stack-select-success-color: #5cb85c;
@stack-select-success-border-color: @stack-select-success-color;
