@file-uploader-margin-vertical: 0px;
@file-uploader-margin-horizontal: 0px;
@file-uploader-border-size: 0.2rem;
@file-uploader-border-style: dashed;
@file-uploader-border-color: #c0c0c0;
@file-uploader-border-radius: 8px;
@file-uploader-content-background: #fff;
@file-uploader-padding: 5rem;

@file-uploader-text-align: center;
@file-uploader-text-font-weight: 100;
@file-uploader-text-transform: uppercase;
@file-uploader-text-color: #443c3c;
@file-uploader-text-padding: 1rem;

@file-uploader-content-default-icon-width: 6rem;
@file-uploader-content-default-icon-height: 6rem;
@file-uploader-content-default-margin-bottom: 1.5rem;
