@file-uploader-margin-vertical: 0px;
@file-uploader-margin-horizontal: 0px;
@file-uploader-border-size: 1.2px;
@file-uploader-border-style: dashed;
@file-uploader-border-color: #c0c0c0;
@file-uploader-border-radius: 8px;
@file-uploader-background-color: transparent;
@file-uploader-padding: 1rem;

@file-uploader-text-align: center;
@file-uploader-text-font-weight: 100;
@file-uploader-text-transform: uppercase;
@file-uploader-text-color: #443c3c;
@file-uploader-text-padding: 1rem;
