
/**
  user-select is used to avoid the selection of non-textual
  elements.
*/
.user-select(@select) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  user-select: @select;
}
