
.wat-layout-logoimage {

  width: auto;
  height: @wat-layout-action-area-height;
  padding-left: 20px;
  background-color: #31373d;
  border-bottom: 1px solid #212529;

  & h1 {

    margin: 0;

    & .wat-layout-logoimage-image {

      max-width: @wat-layout-drawer-width;
      max-height: @wat-layout-action-area-height;

    }

  }

}
