
.wat-layout-main {

  width: auto;
  min-height: 100%;
  background-color: @wat-layout-main-background-color;
  .slidesition();

}

.wat-layout-main-content {

  padding:20px;

}

@media (max-width: @wat-breakpoint) {

  .wat-layout-main {


  }

}
