
.wat-layout-main {

  width: auto;
  min-height: 100%;
  background-color: @wat-layout-main-background-color;
  .slidesition();

  /* Ambitiousattempt to prevent siblings from being blocked by the action area when in Main*/

  &>.wat-layout-action-area + * {

    padding-top: @wat-layout-action-area-height;

  }

}

.wat-layout-main-content {

  padding:20px;

}

@media (max-width: @wat-breakpoint) {

  .wat-layout-main {


  }

}
