
.wat-layout-notification {

  width: 100%;
  height:@wat-layout-notification-height;
  position: fixed;
  left: @wat-layout-drawer-width;
  right: 0;
  bottom: -@wat-layout-notification-height;
  padding: 30px;
  z-index: 15;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  background-color: #000;
  -webkit-transition: bottom 1s ease;
  -moz-transition: bottom 1s ease;
  -o-transition: bottom 1s ease;
  transition: bottom 1s ease;

  &.wat-visible {

    bottom: 0;

  }

}
