
.wat-layout-side-navigation {

  padding-top: 1rem;

}

.wat-layout-side-navigation a {

  width: 100%; 
  padding: 1rem; 
  padding-top: 0.75rem; 
  padding-left: 20px; 
  text-decoration: none; 
  display: block;
  color: white; 

  &.wat-active {

    background-color: #2286c4;
    -webkit-box-shadow: inset 0 1px 0 #2180bb, inset 0 -1px 0 #2180bb;
    box-shadow: inset 0 1px 0 #2180bb, inset 0 -1px 0 #2180bb;

  }

  & :hover {
  
    background-color: #258fd1;

  }
}

.wat-layout-side-navigation-title {

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;

}
