@wat-layout-container-background-color:#ebeef0; 
@wat-layout-drawer-background-color:#31373D; 
@wat-layout-drawer-width: 230px;
@wat-layout-main-background-color: @wat-layout-container-background-color;
@wat-layout-action-area-background-color: @panel-bg;
@wat-layout-action-area-height: 56px;
@wat-layout-notification-height: 86px;
