
.transition(@property; @time; @function) {

  -webkit-transition: @property @time @function;
  -moz-transition: @property @time @function;
  -o-transition: @property @time @function;
  transition: @property @time @function;

}

.ease-width-5s { .transition(width; .5s; ease); }
