
.transition(@property; @time; @function) {

  -webkit-transition: @property @time @function;
  -moz-transition: @property @time @function;
  -o-transition: @property @time @function;
  transition: @property @time @function;

}

.ease-width-500ms            { .transition(width; .5s; ease);       }
.ease-margin-left-500ms      { .transition(margin-left; .5s; ease); }
