@{{LAYOUT}}-background-color: #ebeef0; 

/* global */
@app-bg-color: #ebeef0; 
@small-breakpoint: 30em;    //480px by default
@large-breakpoint:  60em;   //840 by default   
@easing-duration: .5s;

/* DrawerLayout */
@drawer-width: 15em;
@drawer-bg-color: #31373D;

/* ActionArea */
@action-area-height: 60px;
@action-area-width: 100%;
@action-area-bg-color: #fff;

//@wat-layout-drawer-background-color:#31373D; 
//@wat-layout-drawer-width: 230px;
//@wat-layout-main-background-color: @wat-layout-container-background-color;
//@wat-layout-action-area-background-color: @panel-bg;
//@wat-layout-action-area-height: 56px;
//@wat-layout-notification-height: 86px;
