
/**
 * adjustable-padding allows padding to be adjusted on a box.
 */
.adjustable-padding(@top;@right;@bottom;@left) {

  padding-top:top;
  padding-right:@right;
  padding-bottom:@bottom;
  padding-left:@left;

}

/**
 * adjustable-margin allows the marins to be adjusted on a box.
 */
.adjustable-margin(@top;@right;@bottom;@left) {

  margin-top:@top;
  margin-right:@right;
  margin-bottom:@bottom;
  margin-left:@left;

}

.__GRID_LAYOUT__ {

  .adjustable-padding(@grid-layout-padding-top, @grid-layout-padding-right,
                      @grid-layout-padding-bottom, @grid-layout-padding-left);

  .adjustable-margin(@grid-layout-margin-top, @grid-layout-margin-right,
                      @grid-layout-margin-bottom, @grid-layout-margin-left);

}

.__GRID_LAYOUT_ROW__ {

  .adjustable-padding(@grid-layout-row-padding-top, @grid-layout-row-padding-right,
                      @grid-layout-row-padding-bottom, @grid-layout-row-padding-left);

  .adjustable-margin(@grid-layout-row-margin-top, @grid-layout-row-margin-right,
                      @grid-layout-row-margin-bottom, @grid-layout-row-margin-left);

}

.__GRID_LAYOUT_COLUMN__ {

  .adjustable-padding(@grid-layout-column-padding-top, @grid-layout-column-padding-right,
                      @grid-layout-column-padding-bottom, @grid-layout-column-padding-left);

  .adjustable-margin(@grid-layout-column-margin-top, @grid-layout-column-margin-right,
                      @grid-layout-column-margin-bottom, @grid-layout-column-margin-left);

}
