
@grid-layout-vertical-padding: 0px;
@grid-layout-horizontal-padding: 0px;
@grid-layout-vertical-margin: 0px;
@grid-layout-horizontal-margin: 0px;

@grid-layout-row-vertical-padding: 0px;
@grid-layout-row-horizontal-padding: 0px;
@grid-layout-row-vertical-margin: 0px;
@grid-layout-row-horizontal-margin: 0px;

@grid-layout-column-padding-top: 0px;
@grid-layout-column-padding-right: @grid-gutter-width / 2;
@grid-layout-column-padding-bottom: 0px;
@grid-layout-column-padding-left: @grid-gutter-width / 2;
@grid-layout-column-margin-top: 0px;
@grid-layout-column-margin-right: 0px;
@grid-layout-column-margin-bottom: 0px;
@grid-layout-column-margin-left: 0px;
