@grid-layout-gutter-width: @grid-gutter-width;
@grid-layout-padding-vertical: 0px;
@grid-layout-padding-vertical: 0px;
@grid-layout-margin-vertical: 0px;
  
@grid-layout-row-padding-vertical: 0px;
@grid-layout-row-padding-horizontal: 0px;
@grid-layout-row-margin-vertical: 0px;

@grid-layout-column-margin-vertical: 0px;
@grid-layout-column-margin-horizontal: 0px;
