
@grid-layout-padding-top: 0px;
@grid-layout-padding-right: @grid-layout-gutter-width / 2;
@grid-layout-padding-bottom: 0px;
@grid-layout-padding-left: @grid-layout-gutter-width / 2;
@grid-layout-margin-top: 0px;
@grid-layout-margin-right: 0px;
@grid-layout-margin-bottom: 0px;
@grid-layout-margin-left: 0px;

@grid-layout-row-padding-top: 0px;
@grid-layout-row-padding-right: 0px;
@grid-layout-row-padding-bottom: 0px;
@grid-layout-row-padding-left: 0px;
@grid-layout-row-margin-top: 0px;
@grid-layout-row-margin-right: @grid-layout-gutter-width / 2;
@grid-layout-row-margin-bottom: 0px;
@grid-layout-row-margin-left: @grid-layout-gutter-width / 2;

@grid-layout-column-padding-top: 0px;
@grid-layout-column-padding-right: @grid-layout-gutter-width / 2;
@grid-layout-column-padding-bottom: 0px;
@grid-layout-column-padding-left: @grid-layout-gutter-width / 2;
@grid-layout-column-margin-top: 0px;
@grid-layout-column-margin-right: 0px;
@grid-layout-column-margin-bottom: 0px;
@grid-layout-column-margin-left: 0px;
