@import "./variables";

.__OVERLAY__ {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: @overlay-z-index;
    background-color: rgba(0, 0, 0, @overlay-opacity);
    pointer-events: all;

  &.ww-transparent {
    background-color: transparent;
  }

}
