@ww-overlay-z-index: 1999;
@ww-overlay-opacity: 0.5;
@ww-overlay-background-color: rgba(0, 0, 0, 0.5);
@ww-overlay-background-color-low: rgba(0, 0, 0, 0.2);
@ww-overlay-background-color-high: rgba(0, 0, 0, 0.7);
@ww-overlay-background-color-strong: rgba(0, 0, 0, 0.9);
