hr:before {
    position: absolute;
    top: -50%;
    left: 50%;
    display: inline-block;
    content: attr(data-text);
    letter-spacing: 0.1em;
    background-color: #FCFCFC;
    padding: 0 0.5em;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
