@import "./variables";

.__FILE_UPLOAD_SURFACE__ {

  margin: @file-upload-surface-margin-vertical
          @file-upload-surface-margin-horizontal;

  border: @file-upload-surface-border-size
          @file-upload-surface-border-style
          @file-upload-surface-border-color;

  position: relative;
  background: @file-upload-surface-background-color;

  & > .__FILE_UPLOAD_SURFACE_INPUT__ {

    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;

  }

  & > .__FILE_UPLOAD_SURFACE_TEXT__ {

    text-align: @file-upload-surface-text-align;

    & > h3 {

      font-weight: @file-upload-surface-text-font-weight;
      text-transform: @file-upload-surface-text-transform;
      color: @file-upload-surface-text-color;

      padding: @file-upload-surface-text-padding-vertical
               @file-upload-surface-text-padding-horizontal;

      overflow: hidden;
      text-overflow: ellipsis;

    }

  }

}
